#Репозитории
--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cpu

#Web API
fastapi>=0.110.0
uvicorn>=0.30.0
pydantic>=2.7.0
pydantic-settings>=2.2.0
python-multipart

#database&Async
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.9
asyncpg>=0.29.0
greenlet
pandas>=3.0.0
gdown

#LLM Engine
llama_cpp_python>=0.2.62

#LangChain
langchain>=0.3.0
langchain-community>=0.3.0
langchain-core>=0.3.0
langgraph>=0.2.0
langsmith

#RAG
torch>=2.4.0+cpu
torchvision>=0.19.0+cpu
torchaudio>=2.4.0+cpu
transformers>=4.40.0
sentence-transformers>=3.0.0
chromadb>=0.5.0
numpy>=1.26.0
openinference-instrumentation

#Utils
python-dotenv
psutil
tqdm
PyYAML

